@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

.container{
    margin-left:200px;
}
.row{
    
  padding-top: 30px;
  
  
 
background-color:black;
  border-bottom-left-radius : 5px ;
   border-bottom-right-radius : 5px ;
 
  border-top-left-radius : 5px ;
   border-top-right-radius : 5px ;
   border-bottom-left-radius : 5px ;
     font-family: 'Raleway', sans-serif;
  color : white ;
 
 
    margin-top:40px;
 
  width:450px;
  padding:40px 50px;
  display:table;
  
}
.text{
  font-weight : bold ;
  margin : 40px 0 0 100px ;
   font-family: 'Raleway', sans-serif;
  color:black;
    font-size:60px;
}

#quotediv{
    font-size: 25px;
    
}
.btn{
    
    font-family: 'Raleway', sans-serif;
    
    
}
#nextquote{
    font-size:0.75em;
    
  margin-top:30px;
   
    margin-left:100px;
}

#name{
    margin-top: 20px;
    
  font-size:15px;
  font-style:italic;
    position:relative;
 
}
